body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #020202;
    color: white;
    min-height: 100vh; /* Ensure body takes full viewport height */
}

.main-content {
    flex-grow: 1; /* Allows content to expand to fill available space */
    padding: 20px; /* Consistent padding */
    margin: 20px; /* Margin around content */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .main-content {
        margin: 10px; /* Reduced margin on smaller screens */
        padding: 15px;
    }
}

.sidebar {
    width: 60px; /* Initial width */
    background-color: black;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid white;
    z-index: 2; /* Ensure sidebar is above other content */
}


.sidebar:hover {
    width: 200px; /* Expanded width */
}

.sidebar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px; /* Reduced padding */
    width: 100%; /* Ensure links take full sidebar width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.sidebar a i {
    margin-right: 10px;
    font-size: 1.2em;
}

.sidebar a span {
    display: none;
}

.sidebar:hover a span {
    display: inline;
}

.sidebar-f {
    display: none; /* Initially hidden */
    font-size: 1.2em;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    justify-content: space-around; /* Distribute icons evenly */
}

.sidebar:hover .sidebar-f {
    display: flex;
}

.sidebar-f i {
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 5px; /* Add some padding around icons */
    cursor: pointer; /* Indicate interactivity */
}

.sidebar-f i:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px; /* Rounded corners on hover */
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.progress-bar {
    width: 40px; /* Reduced width */
    background-color: #020202;
    border-left: 1px solid white;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    z-index: 2; /* Ensure progress bar is above other content */
}

/* Media query for smaller screens - Hide progress bar */
@media (max-width: 768px) {
    .progress-bar {
        display: none;
    }
}

.progress-bar-header {
    font-size: 1.2em;
    margin-bottom: 10px;
}



hr {
    border: none;
    border-top: 1px solid white;
    margin: 20px 0; /* Add margin above and below hr */
}

footer {
    background-color: #020202;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.dark-mode {
    background-color: white;
    color: black;
}

.dark-mode .sidebar {
    background-color: white;
    border-right: 1px solid black;
}

.dark-mode .sidebar a {
    color: black;
}

.dark-mode .sidebar-f {
    color: black;
}

.dark-mode .progress-bar {
    background-color: white;
    border-left: 1px solid black;
}

.dark-mode footer {
    background-color: white;
    color: black;
}

.search-bar-container {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 210px; /* Position to the right of the expanded sidebar */
    z-index: 2;
    background-color: #020202;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
}

/* Media query for smaller screens - Position search bar differently */
@media (max-width: 768px) {
    .search-bar-container {
        left: 10px; /* Position at the top left */
        top: 60px;
        width: calc(100% - 20px);
        border-radius: 10px;
    }
}

.search-bar {
    width: 100%; /* Take full width of container */
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.search-result {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
    color: black; /* Text color for results */
}
